
div.content { 
  display: flex;
  flex-flow: column;
  max-width: 960px;
  flex: auto;
  background-color: #fbf9d9;

  padding-left: 15px;
  padding-right: 15px;
}

.button_group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.button_group::after {
  flex: auto;
}

.button_block {
  display: block;
  min-width: 250px;
  width: 40%;
  border: none;
  background-color: #e3ffcf;
  color: blue;
  padding: 14px 3%;
  margin: 2%;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.button_block:hover {
  background-color: #bcff8c;
  color: black;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.lpage {
  display: none;
}

@media only screen and (min-width: 768px) {
 
  .button_group::after {
    content: "";
  }

  .lpage {
    display: block;
    width: 15%;
  }   
}

.page {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}